body{
    background-color: rgb(141, 141, 202);
    color: white;
    text-shadow: 1px 1px 1px white;
    text-decoration: none;
}
a{
    color: white;
}
a:hover{
    color: rgb(160, 156, 156);
    text-shadow: 1px 1px 1px white;
}